body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    135deg,
    #ffe4ec,
    #f8e8ff,
    #fff7f0
  );
}

.app {
  text-align: center;
  padding: 30px;
}

.title {
  color: #ff69b4;
  font-size: 3rem;
}

.cake-container {
  margin: 40px auto;
  position: relative;
  width: 200px;
}

.candle {
  width: 12px;
  height: 60px;
  background: white;
  margin: auto;
}

.flame {
  width: 20px;
  height: 30px;
  background: orange;
  border-radius: 50%;
  margin: auto;
  animation: flicker 0.5s infinite;
}

@keyframes flicker {
  50% {
    transform: scale(1.1);
  }
}

.cake-top {
  height: 40px;
  background: pink;
  border-radius: 15px;
}

.cake-bottom {
  height: 70px;
  background: #ff9ecb;
  border-radius: 15px;
  margin-top: 5px;
}

.wish-btn {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background: hotpink;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.wish-btn:hover {
  transform: scale(1.05);
}

.message {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 20px;
  color: #555;
  font-size: 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.gallery-title {
  margin-top: 50px;
  color: #ff69b4;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}

.photo {
  width: 250px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.photo:hover {
  transform: scale(1.05);
}

.song-section {
  margin-top: 50px;
  padding-bottom: 50px;
}

.song-section h2 {
  color: #ff69b4;
}
